# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

In [2]:
DATA_FOLDER = 'Data/' # Use the data folder provided in Tutorial 02 - Intro to Pandas.

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average per month* of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

In [6]:
import glob
import datetime as dt
import pandas as pd

def readFiles(path,name):
    df=pd.DataFrame()
    allFiles=glob.glob(DATA_FOLDER+path)
    for file in allFiles:
        df=df.append(pd.read_csv(file))
    df['Country']=name
    return df


def readAll():
    df=pd.DataFrame()
    df=df.append(readFiles('ebola/guinea_data/*','guinea'))
    df=df.append(readFiles('ebola/liberia_data/*','liberia'))
    df=df.append(readFiles('ebola/sl_data/*','sl'))
    return df

def mergeColumns(df):
    df['Date']=df['Date'].fillna(df['date'])
    df['Description']=df['Description'].fillna(df['Variable'])
    df['Description']=df['Description'].fillna(df['variable'])
    df['Totals']=df['Totals'].fillna(df['National'])
    df['Police training School']=df['Police training School'].fillna(df['Police traning School'])
    return df

def dropColumns(df):
    df=df.drop('date', axis=1)
    df=df.drop('Variable', axis=1)
    df=df.drop('variable', axis=1)
    df=df.drop('National', axis=1)
    df=df.drop('Police traning School',axis=1)
    return df
    
    
def stripDate(date):
    if ('/' in date):
        try :
            return dt.datetime.strptime(date, "%m/%d/%Y").month
        except ValueError:
            return dt.datetime.strptime(date, "%m/%d/%y").month
    return dt.datetime.strptime(date, "%Y-%m-%d").month

def changeDate(df):
    df['Date'] = df['Date'].map(stripDate)
    return df
    
def preprocess(df):
    df=mergeColumns(df)
    df=dropColumns(df)
    df=changeDate(df)
    df=df.fillna(value=0)
    return df

def calc(dframe,descr,country):
    subset=dframe[(dframe['Country']==country)&(dframe['Description']==descr)][['Totals','Date']]
    subset = subset.astype(float)   
    subsetMean = subset.groupby(['Date'])['Totals'].mean()
    return subsetMean

def calc2(dframe,descr1,descr2,country):
    subset=dframe[(dframe['Country']==country)&((df['Description']==descr1)|(df['Description']==descr2))][['Totals','Date']]
    subset = subset.astype(float)   
    subsetMean = subset.groupby(['Date'])['Totals'].mean()
    return subsetMean

def calc3(dframe,descr1,descr2,descr3,country):
    subset=dframe[(dframe['Country']==country)&((df['Description']==descr1)|(df['Description']==descr2)|(df['Description']==descr3))][['Totals','Date']]
    subset = subset.astype(float)   
    subsetMean = subset.groupby(['Date'])['Totals'].mean()
    return subsetMean

def printResults():
    #Guinea
    print('Guinea: Total new deaths registered so far')
    print(calc2(df,'New deaths registered','New deaths registered today','guinea'))
    print('')
    
    print('Guinea: Total new cases registered so far')
    print(calc(df,'Total new cases registered so far','guinea'))
    print('')
    
    notDec=df[df['Date']!=12]
    '''
    #Liberia
    print('Liberia: Total new deaths registered so far')
    print(calc(notDec,'Newly reported deaths','liberia')) 
    #,'Newly Reported deaths in HCW'
    print('')
    
    print('Liberia: Total new cases registered so far')
    print(calc3(notDec,'New Case/s (Suspected)','New Case/s (Probable)','New case/s (confirmed)','liberia'))
    #'Newly Reported Cases in HCW'
    print('')
    '''
    
    #SL
    print('Sierra Leone: Total new deaths registered so far')
    print(calc(df,'etc_new_deaths','sl'))
    print('')
    
    print('Sierra Leone: Total new cases registered so far')
    print(calc3(df,'new_confirmed',"new_suspected","new_probable",'sl'))
    
'''
Using this DataFrame, calculate for each country, 
the daily average per month of new cases and deaths. 
Make sure you handle all the different expressions for 
new cases and deaths that are used in the reports.

calc mean over each month (8,9,10,...)
'''

df=readAll()
df=preprocess(df)
printResults()
#a=df[df['Date']!=12]['Date']
#print(a)
#how can average be 0 ????
#print(df[df['Country']=='sl']['Description'].unique())

Guinea: Total new deaths registered so far
Date
8.0      3.4000
9.0      3.5625
10.0    15.0000
Name: Totals, dtype: float64

Guinea: Total new cases registered so far
Date
8.0     25.800
9.0     19.625
10.0    34.000
Name: Totals, dtype: float64

Sierra Leone: Total new deaths registered so far
Date
8.0     0.000000
9.0     0.275862
10.0    3.535714
11.0    0.571429
12.0    2.200000
Name: Totals, dtype: float64

Sierra Leone: Total new cases registered so far
Date
8.0      8.383333
9.0     13.563218
10.0    23.642857
11.0    25.079365
12.0    13.666667
Name: Totals, dtype: float64

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

In [ ]:
# Write your answer here
import glob
import pandas as pd

def readData(path):
    df=pd.DataFrame()    
    allFiles=glob.glob(DATA_FOLDER+path)
    meta=readMeta()
    i=0
    for file in allFiles:
         if(not file=="Data/microbiome\metadata.xls"):    
            thisFile=pd.read_excel(file,header=None)
            thisFile['BARCODE']=meta['BARCODE'][i]
            thisFile['GROUP']=meta['GROUP'][i]
            thisFile['SAMPLE']=meta['SAMPLE'][i]
            i=i+1
            df = df.append(thisFile)
    df['Index']=list(range(df.shape[0]))
    cols=df.columns.tolist()
    cols = cols[-1:] + cols[:-1] #move index column to front
    df=df[cols]
    return df

def readMeta():
    return pd.read_excel("Data/microbiome\metadata.xls")

def fillMissing(df):
    return df.fillna(value="unknown")
    
def readAll():
    df=readData('microbiome/*')
    return fillMissing(df) 

readAll()

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [3]:
from IPython.core.display import HTML
import matplotlib.pyplot as plt
HTML(filename=DATA_FOLDER+'/titanic.html')

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

In [4]:
# Write your answer here
   
def printHist(data,xlabel):
    plt.bar(range(len(data)), data.values(), align='center')
    plt.xticks(range(len(data)),data.keys())
    plt.ylabel('Number of people')
    plt.xlabel(xlabel)
    plt.show()  

def printPie(sizes,labels,title):
    fig1, ax1 = plt.subplots()
    ax1.pie(sizes,labels=labels, autopct='%1.1f%%',
            shadow=True, startangle=90)
    ax1.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.
    plt.title(title)
    plt.show()

In [7]:
#Question 1
d=pd.read_excel(DATA_FOLDER+'/titanic.xls',header=0)

print('Value types')
print(d.columns.to_series().groupby(d.dtypes).groups)

print('Ranges')
low=d.describe().loc['min']
high=d.describe().loc['max']
for x in range (len(low)):
    print(low.index[x]+'      '+str(low[x])+'-'+str(high[x]))
    
print('\nCategorical Data:')
print('pClass cabin embarked sex boat ')

Value types
{dtype('int64'): Index(['pclass', 'survived', 'sibsp', 'parch'], dtype='object'), dtype('float64'): Index(['age', 'fare', 'body'], dtype='object'), dtype('O'): Index(['name', 'sex', 'ticket', 'cabin', 'embarked', 'boat', 'home.dest'], dtype='object')}
Ranges
pclass      1.0-3.0
survived      0.0-1.0
age      0.1667-80.0
sibsp      0.0-8.0
parch      0.0-9.0
fare      0.0-512.3292
body      1.0-328.0

Categorical Data:
pClass cabin embarked sex boat

In [ ]:
#Question 2
def printHistograms():      
    travelClass=d['pclass'].value_counts()
    travelClassData = {'1st class':travelClass[1], '2nd class':travelClass[2], '3rd class':travelClass[3]}
    printHist(travelClassData,'Passenger Classes')

    embarked=d['embarked'].value_counts()
    embarkedData = {'Southampton':embarked[0], 'Cherbourg': embarked[1], 'Queenstown': embarked[2]}
    printHist(embarkedData,'Embark location')

    sex=d['sex'].value_counts()
    sexData = {'Male':sex.iloc[0], 'Female': sex.iloc[1]}
    printHist(sexData,'Sex distribution')

    #have to include NAN values as seperate category
    #0-10,11-20,21-30,31-40,41-50 and NAN
    age=pd.cut(d['age'].fillna(value=-1),[-10,0,10,20,30,40,50]).value_counts()
    ageData = {'0 to 10':age.iloc[5], '10 to 20':age.iloc[3], '20 to 30':age.iloc[0],'30 to 40':age.iloc[2],'40 to 50':age.iloc[4],'Unknown':age.iloc[1]}
    printHist(ageData,'Passenger Ages') 
    
printHistograms()

In [ ]:
#Question 3
def printCabinPie():
    cabin=d['cabin'].str[0].value_counts()
    #cabin=cabin.fillna(value='N')
    labels =cabin.keys()
    sizes=cabin
    printPie(sizes,labels,'Cabin survivors')
    
printCabinPie()

In [ ]:
#Question 4 

def printSurvived():
    classSurvived=d[d['survived']==1]['pclass'].value_counts()
    classTotal=d['pclass'].value_counts()

    survRatios=pd.Series([classSurvived[1]/classTotal[1],classSurvived[2]/classTotal[2],classSurvived[3]/classTotal[3]])

    label=['Survived','Died']
    for i in range(1,4):
        printPie([classSurvived[i]/classTotal[i],1-classSurvived[i]/classTotal[i]],label,'Class '+str(i))
#        
printSurvived()

In [ ]:
#Question 5

def maleFemaleSurv():        
    #ex, find ratio of men in 1st class that survived 
    classSurvived=d[d['survived']==1][['pclass','sex']]
    classTotal=d[['pclass','sex']]

    vals=[]
    for i in range(1,4):
        surv=classSurvived[classSurvived['pclass']==i]['sex']
        total=classTotal[classTotal['pclass']==1]['sex']

        male=surv.value_counts()['male']/total.value_counts()['male']
        female=surv.value_counts()['female']/total.value_counts()['female']
        vals.append(male)
        vals.append(female)

    plt.bar(range(len(vals)), vals, align='center')
    plt.xticks(range(len(vals)),['1st class men','1st class women','2nd class men','2nd class women','3rd class men','3rd class women'])
#    plt.ylabel('Number of people')
    plt.xlabel('')
    plt.show()
    
maleFemaleSurv()

In [10]:
#Question 6

'''
Create 2 equally populated age categories and calculate survival proportions by age category, 
travel class and sex. Present your results in a DataFrame with unique index
'''
age=pd.cut(d['age'].fillna(value=-1),[-10,0,5,10,15,20,25,30,35,40,45,50]).value_counts()
ageData = {'0 to 10':age.iloc[5], '10 to 20':age.iloc[3], '20 to 30':age.iloc[0],'30 to 40':age.iloc[2],'40 to 50':age.iloc[4],'Unknown':age.iloc[1]}
    
print(age)

(-10, 0]    263
(20, 25]    195
(25, 30]    166
(15, 20]    133
(30, 35]    115
(35, 40]     95
(40, 45]     72
(45, 50]     60
(0, 5]       56
(5, 10]      30
(10, 15]     29
Name: age, dtype: int64