In [101]:
# Import libraries
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [125]:
r = requests.get('https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051_indicators.txt')
''' Note that this list is the top 200 only if the whole list is sorted
    This check is done at the end, after the dataframe has been created (see below).
    Moreover, this code would work for any 'top k' '''  
data = r.json()['data'][:200]

In [126]:
df = pd.DataFrame(columns=['Rank', 'Country', 'Region', 'Total Faculty Members',
                           'International Faculty Members', 'Total Students', 
                           'International Students'])
df.index.name = 'Name'

'''Get a single number from the details webpage. ClassName is the information on the webpage
   to be returned.'''
def getCount(details, className):
        attr = BeautifulSoup(details.text, 'html.parser').find('div', class_=className)
        if attr is None:
            print ("No attribute '", className, "' found")
            return None
        return int(attr.find('div', class_="number").text.strip().replace(',', ''))

'Dataframe generation'    
for d in data:
    soup = BeautifulSoup(d['uni'], 'html.parser')
    details = requests.get("https://www.topuniversities.com" + soup.a.get('href'))
    index = soup.a.text.strip()
    print("Processing", d['overall_rank'], ":", index)
    df.loc[index] = [int(d['overall_rank']), d['location'], d['region'], 
                     getCount(details, 'total faculty'), 
                     getCount(details, 'inter faculty'),
                     getCount(details, 'total student'),
                     getCount(details, 'total inter')]

Processing 1 : Massachusetts Institute of Technology (MIT)
Processing 2 : Stanford University
Processing 3 : Harvard University
Processing 4 : California Institute of Technology (Caltech)
Processing 5 : University of Cambridge
Processing 6 : University of Oxford
Processing 7 : UCL (University College London)
Processing 8 : Imperial College London
Processing 9 : University of Chicago
Processing 10 : ETH Zurich - Swiss Federal Institute of Technology
Processing 11 : Nanyang Technological University, Singapore (NTU)
Processing 12 : Ecole Polytechnique Fédérale de Lausanne (EPFL)
Processing 13 : Princeton University
Processing 14 : Cornell University
Processing 15 : National University of Singapore (NUS)
Processing 16 : Yale University
Processing 17 : Johns Hopkins University
Processing 18 : Columbia University
Processing 19 : University of Pennsylvania
Processing 20 : The Australian National University
Processing 21 : Duke University
Processing 21 : University of Michigan
Processing 23 : King's College London
Processing 23 : The University of Edinburgh
Processing 25 : Tsinghua University
Processing 26 : The University of Hong Kong
Processing 27 : University of California, Berkeley (UCB)
Processing 28 : Northwestern University
Processing 28 : The University of Tokyo
Processing 30 : The Hong Kong University of Science and Technology
Processing 31 : University of Toronto
Processing 32 : McGill University
Processing 33 : University of California, Los Angeles (UCLA)
Processing 34 : The University of Manchester
Processing 35 : London School of Economics and Political Science (LSE)
Processing 36 : Kyoto University
Processing 36 : Seoul National University
Processing 38 : Peking University
Processing 38 : University of California, San Diego (UCSD)
Processing 40 : Fudan University
Processing 41 : KAIST - Korea Advanced Institute of Science & Technology
Processing 41 : The University of Melbourne
Processing 43 : Ecole normale supérieure, Paris
Processing 44 : University of Bristol
Processing 45 : The University of New South Wales (UNSW Sydney)
Processing 46 : The Chinese University of Hong Kong (CUHK)
Processing 47 : Carnegie Mellon University
Processing 47 : The University of Queensland
Processing 49 : City University of Hong Kong
Processing 50 : The University of Sydney
Processing 51 : University of British Columbia
Processing 52 : New York University (NYU)
No attribute ' total faculty ' found
No attribute ' inter faculty ' found
No attribute ' total student ' found
No attribute ' total inter ' found
Processing 53 : Brown University
Processing 54 : Delft University of Technology
Processing 55 : University of Wisconsin-Madison
Processing 56 : Tokyo Institute of Technology
Processing 57 : The University of Warwick
Processing 58 : University of Amsterdam
Processing 59 : Ecole Polytechnique
Processing 60 : Monash University
Processing 61 : University of Washington
Processing 62 : Shanghai Jiao Tong University
Processing 63 : Osaka University
Processing 64 : Technical University of Munich
Processing 65 : University of Glasgow
Processing 66 : Ludwig-Maximilians-Universität München
Processing 67 : University of Texas at Austin
Processing 68 : Ruprecht-Karls-Universität Heidelberg
Processing 69 : University of Illinois at Urbana-Champaign
Processing 70 : Georgia Institute of Technology
Processing 71 : KU Leuven
Processing 71 : Pohang University of Science And Technology (POSTECH)
Processing 73 : University of Copenhagen
Processing 73 : University of Zurich
Processing 75 : Universidad de Buenos Aires (UBA)
Processing 76 : National Taiwan University (NTU)
Processing 76 : Tohoku University
Processing 78 : Durham University
Processing 78 : Lund University
Processing 80 : University of North Carolina, Chapel Hill
Processing 81 : Boston University
Processing 82 : The University of Auckland
Processing 82 : The University of Sheffield
Processing 84 : The University of Nottingham
Processing 84 : University of Birmingham
Processing 86 : The Ohio State University
Processing 87 : Zhejiang University
Processing 88 : Trinity College Dublin, The University of Dublin
Processing 89 : Rice University
Processing 90 : Korea University
Processing 90 : University of Alberta
Processing 92 : University of St Andrews
Processing 93 : Pennsylvania State University
Processing 93 : The University of Western Australia
Processing 95 : Lomonosov Moscow State University
Processing 95 : The Hong Kong Polytechnic University
Processing 97 : University of Science and Technology of China
Processing 98 : KTH Royal Institute of Technology
Processing 98 : University of Geneva
Processing 100 : Washington University in St. Louis
Processing 101 : University of Leeds
Processing 102 : University of Helsinki
Processing 102 : University of Southampton
Processing 104 : Eindhoven University of Technology
Processing 105 : Purdue University
Processing 106 : Yonsei University
Processing 107 : KIT, Karlsruhe Institute of Technology
Processing 108 : Sungkyunkwan University (SKKU)
Processing 109 : Leiden University
Processing 109 : The University of Adelaide
Processing 109 : Utrecht University
Processing 112 : Uppsala University
Processing 113 : University of Groningen
Processing 114 : Nanjing University
Processing 114 : Universiti Malaya (UM)
Processing 116 : Nagoya University
Processing 116 : Technical University of Denmark
Processing 118 : University of California, Davis
Processing 119 : Aarhus University
Processing 120 : Humboldt-Universität zu Berlin
Processing 121 : Universidade de São Paulo
Processing 122 : Hokkaido University
Processing 122 : Universidad Nacional Autónoma de México  (UNAM)
Processing 124 : Wageningen University
Processing 125 : Freie Universitaet Berlin
Processing 125 : Ghent University
Processing 127 : Queen Mary University of London
Processing 128 : Kyushu University
Processing 129 : University of Maryland, College Park
Processing 130 : Université de Montréal
Processing 131 : Université Pierre et Marie Curie (UPMC)
Processing 132 : University of Southern California
Processing 133 : Chalmers University of Technology
Processing 134 : University of California, Santa Barbara (UCSB)
Processing 135 : Lancaster University
Processing 135 : University of York
Processing 137 : Aalto University
Processing 137 : Cardiff University
Processing 137 : Pontificia Universidad Católica de Chile (UC)
Processing 140 : McMaster University
Processing 141 : RWTH Aachen University
Processing 142 : University of Oslo
Processing 142 : University of Pittsburgh
Processing 144 : Technische Universität Berlin (TU Berlin)
Processing 145 : The Hebrew University of Jerusalem
Processing 146 : University of Lausanne
Processing 147 : Emory University
Processing 147 : Erasmus University Rotterdam
Processing 149 : Michigan State University
Processing 149 : University of Basel
Processing 151 : University of Otago
Processing 152 : University of Waterloo
Processing 153 : Université catholique de Louvain (UCL)
Processing 154 : University of Vienna
Processing 155 : Hanyang University
Processing 156 : Universitat de Barcelona
Processing 157 : École Normale Supérieure de Lyon
Processing 158 : University of Aberdeen
Processing 158 : The University of Exeter
Processing 160 : University of Bath
Processing 161 : National Tsing Hua University
Processing 161 : Newcastle University
Processing 163 : University of Minnesota
Processing 164 : Eberhard Karls Universität Tübingen
Processing 164 : University of Bergen
Processing 164 : University of California, Irvine
Processing 167 : University of Bern
Processing 168 : University College Dublin
Processing 169 : Dartmouth College
Processing 170 : Politecnico di Milano
Processing 171 : Albert-Ludwigs-Universitaet Freiburg
Processing 172 : Indian Institute of Technology Delhi (IITD)
Processing 173 : King Fahd University of Petroleum & Minerals
Processing 173 : University of Liverpool
Processing 173 : University of Virginia
Processing 176 : University of Technology Sydney
Processing 177 : CentraleSupélec
Processing 178 : University of Florida
Processing 179 : Indian Institute of Technology Bombay (IITB)
Processing 179 : University of Twente
Processing 181 : University of Göttingen
Processing 182 : Vienna University of Technology

Processing 182 : Universidade Estadual de Campinas (Unicamp)
Processing 182 : University of Colorado Boulder
Processing 182 : Vrije Universiteit Brussel (VUB)
Processing 186 : University of Rochester
Processing 187 : Universidad Autónoma de Madrid
Processing 188 : Alma Mater Studiorum - University of Bologna
Processing 188 : University of Reading
Processing 190 : Indian Institute of Science (IISc) Bangalore
No attribute ' inter faculty ' found
Processing 191 : University of Cape Town
Processing 192 : Keio University CEMS MIM
Processing 192 : Scuola Normale Superiore di Pisa
Processing 192 : Scuola Superiore Sant'Anna Pisa di Studi Universitari e di Perfezionamento
Processing 195 : Stockholm University
Processing 281 : Technische Universität Dresden
Processing 195 : Texas A&M University
Processing 195 : Universitat Autònoma de Barcelona
Processing 199 : Instituto Tecnológico y de Estudios Superiores de Monterrey
Processing 200 : Maastricht University

In [127]:
'Check that the dataframe has the correct length'
len(df)

200

In [128]:
'Now we can check for rank correctness'
# There is no built-in method
def checkSorted(df, colName):
    col = df[colName]
    for i in range(len(col) - 1):
        if col[i + 1] < col[i] or col[i] > len(col):
            print("The list is not correct:")
            print(df.iloc[i], "\n")
            print(df.iloc[i + 1])
            return False
    return col[len(col) - 1] <= len(col)

checkSorted(df, 'Rank')

The list is not sorted:
Rank                                 281
Country                          Germany
Region                            Europe
Total Faculty Members               4913
International Faculty Members        669
Total Students                     34029
International Students              4929
Name: Technische Universität Dresden, dtype: object

Rank                                       195
Country                          United States
Region                           North America
Total Faculty Members                     3446
International Faculty Members              206
Total Students                           60294
International Students                    4900
Name: Texas A&M University, dtype: object

False

In [129]:
 ''' As of 20/10/2017, in the potential 'top 200' the University of Dresden has rank 281.
 However, we suspect it is wrong: there is no university with rank 198 (there are 3 universities with 
 rank 195 and one with 199) and there are two universities with rank 281, including the University of Dresden.
 However, rank 282 is filled and all the ranks afterwards are correct. This leads us to believe that one of the 
 two universities with rank 281 should have rank 198 or 195. Since the University of Dresden is indexed among 
 the universities of rank 195, the simplest way to restore ordering in the university list is to assign rank 195
 to the university of Dresden.'''

df.loc['Technische Universität Dresden', 'Rank'] = 195
checkSorted(df, 'Rank')

True

In [130]:
df

,Rank,Country,Region,Total Faculty Members,International Faculty Members,Total Students,International Students
Name,,,,,,,
Massachusetts Institute of Technology (MIT),1,United States,North America,2982,1679,11067,3717
Stanford University,2,United States,North America,4285,2042,15878,3611
Harvard University,3,United States,North America,4350,1311,22429,5266
California Institute of Technology (Caltech),4,United States,North America,953,350,2255,647
University of Cambridge,5,United Kingdom,Europe,5490,2278,18770,6699
University of Oxford,6,United Kingdom,Europe,6750,2964,19720,7353
UCL (University College London),7,United Kingdom,Europe,6345,2554,31080,14854
Imperial College London,8,United Kingdom,Europe,3930,2071,16090,8746
University of Chicago,9,United States,North America,2449,635,13557,3379
ETH Zurich - Swiss Federal Institute of Technology,10,Switzerland,Europe,2477,1886,19815,7563
"Nanyang Technological University, Singapore (NTU)",11,Singapore,Asia,4338,2993,25738,7251
Ecole Polytechnique Fédérale de Lausanne (EPFL),12,Switzerland,Europe,1695,1300,10343,5896
Princeton University,13,United States,North America,1007,246,8069,1793
Cornell University,14,United States,North America,2718,970,21904,5411
National University of Singapore (NUS),15,Singapore,Asia,5106,3086,32728,8917
Yale University,16,United States,North America,4940,1708,12402,2469
Johns Hopkins University,17,United States,North America,4462,1061,16146,4105
Columbia University,18,United States,North America,6189,913,25045,8105
University of Pennsylvania,19,United States,North America,5499,1383,20639,4250
The Australian National University,20,Australia,Oceania,1600,927,14442,5551
Duke University,21,United States,North America,2938,226,15320,2864
University of Michigan,21,United States,North America,6809,1920,43147,7527
King's College London,23,United Kingdom,Europe,3650,1513,23780,9451
The University of Edinburgh,23,United Kingdom,Europe,4075,1553,28040,10551
Tsinghua University,25,China,Asia,5506,932,36300,4072
The University of Hong Kong,26,Hong Kong,Asia,3012,2085,20214,8230
"University of California, Berkeley (UCB)",27,United States,North America,3321,1395,36703,6086
Northwestern University,28,United States,North America,4231,1141,18675,3422
The University of Tokyo,28,Japan,Asia,4514,254,27279,2639
The Hong Kong University of Science and Technology,30,Hong Kong,Asia,1150,835,10375,2921
...,...,...,...,...,...,...,...
Albert-Ludwigs-Universitaet Freiburg,171,Germany,Europe,1966,413,23214,3897
Indian Institute of Technology Delhi (IITD),172,India,Asia,466,4,7477,80
King Fahd University of Petroleum & Minerals,173,Saudi Arabia,Asia,1062,665,6040,989
University of Liverpool,173,United Kingdom,Europe,2390,717,22065,7502
University of Virginia,173,United States,North America,2509,487,21560,1899
University of Technology Sydney,176,Australia,Oceania,1328,546,24207,7769
CentraleSupélec,177,France,Europe,529,137,3877,1132
University of Florida,178,United States,North America,5419,504,45485,4597
Indian Institute of Technology Bombay (IITB),179,India,Asia,876,19,9402,93
University of Twente,179,Netherlands,Europe,910,299,9332,2235
University of Göttingen,181,Germany,Europe,3678,641,30402,3736
Vienna University of Technology,182,Austria,Europe,706,172,17479,5199
Universidade Estadual de Campinas (Unicamp),182,Brazil,Latin America,1968,109,26572,966
University of Colorado Boulder,182,United States,North America,3685,566,30219,2679
Vrije Universiteit Brussel (VUB),182,Belgium,Europe,1792,515,9284,1853
University of Rochester,186,United States,North America,2569,488,9636,2805
Universidad Autónoma de Madrid,187,Spain,Europe,2738,181,26511,2976
Alma Mater Studiorum - University of Bologna,188,Italy,Europe,2990,153,63399,4195
University of Reading,188,United Kingdom,Europe,1280,422,13330,4077
Indian Institute of Science (IISc) Bangalore,190,India,Asia,423,None,4071,47
University of Cape Town,191,South Africa,Africa,1733,379,19593,3325
Keio University CEMS MIM,192,Japan,Asia,3905,261,33500,2178
Scuola Normale Superiore di Pisa,192,Italy,Europe,86,1,532,48
Scuola Superiore Sant'Anna Pisa di Studi Universitari e di Perfezionamento,192,Italy,Europe,119,1,789,135
Stockholm University,195,Sweden,Europe,2154,646,28281,2636
Technische Universität Dresden,195,Germany,Europe,4913,669,34029,4929
Texas A&M University,195,United States,North America,3446,206,60294,4900
Universitat Autònoma de Barcelona,195,Spain,Europe,2187,230,31986,3848
Instituto Tecnológico y de Estudios Superiores de Monterrey,199,Mexico,Latin America,1822,821,13376,1412
Maastricht University,200,Netherlands,Europe,1277,502,16385,8234

In [111]:
df.index.is_unique

True